<%= link_to element, :search => params[:search], class: "list-group-item" do %>
    <h5 class="list-group-item-heading"><%= element.name.upcase %>&nbsp;</h5>
    <p class="list-group-item-text">
      <%= element.note %>
      <% if (defined? puts_date) %>
        <span class="label label-default"><%= humanize(DateTime.now.to_i-elment[puts_date].to_i) %></span>
      <% end %>
    </p>
<% end %>
