<div class="bs-component">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Note</th>
        <% if defined? element.target %>
          <th>Echéance</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% list.each do |h| %>
      <%= render(partial: "/layouts/itemlink", locals: {element: h}) %>
    <% end %>
  </tbody>
</table>
</div>
