<% if (defined? items) && (! items.nil?) && (items.count > 0) %>
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% if (defined? icon) %>
              <span class='<%= "glyphicon glyphicon-#{icon}" %>'></span>&nbsp;
            <% end %>
            <span class="badge"></span>&nbsp;
            <%= (defined? toptitle) ? toptitle : items.first.class.humanize_model(true) %>&nbsp;
            <span class="badge"><%= items.count %></span>
          </h3>
        </div>
        <div class="list-group">
          <% items.each do |r| %>
            <% my_locals = {element: r} %>
            <%= render(partial: "/layouts/itemsimple", locals: my_locals) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
